<footer class="bg-dark text-white py-4 mt-auto">
  <div class="container d-flex flex-column flex-lg-row justify-content-between gap-3">
    <div>
      <h5 class="mb-1">Vandore Heritage</h5>
      <p class="mb-0 small">Skanstes Iela 29A - 91, Riga, Latvija</p>
    </div>
    <div class="d-flex gap-3 align-items-center">
      <a href="tel:+37129713030" class="link-light text-decoration-none">+371 29 71 3030</a>
      <span class="text-muted">|</span>
      <a href="mailto:info@vandoreheritage.lv" class="link-light text-decoration-none">info@vandoreheritage.lv</a>
    </div>
  </div>
</footer>

<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/js/vendor/swiper-bundle.min.js"></script>
<script src="/js/custom.js"></script>
<% if (extraScripts) { %>
  <%- extraScripts %>
<% } %>
</body>
</html>
