<!DOCTYPE html>
<html lang="lv">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle ? `${pageTitle} | Vandore Heritage` : 'Vandore Heritage' %></title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Noto+Serif:wght@700&display=swap&subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/changes.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link rel="icon" type="image/x-icon" href="/image/red_LOGO_Vandore.png?v=2025">
  <% if (extraHead) { %>
    <%- extraHead %>
  <% } %>
</head>
<body class="listing-app <%= bodyClass || '' %>">
