---
layout: base.njk
pagination:
  data: collections.property
  size: 1
  alias: property
permalink: "properties/{{ property.fileSlug }}/index.html"
eleventyComputed:
  pageTitle: "{{ property.data.title }}"
  objectPath: "content/properties/{{ property.fileSlug }}.json"
---

<div class="section">
  <div class="r-container">
    <div class="row row-cols-xl-2 row-cols-1">
      <div class="col mb-3">
        <img src="/{{ property.data.image }}" alt="{{ property.data.title }}" class="img-fluid rounded-2" data-sb-field-path="image">
      </div>
      <div class="col mb-3">
        <div class="d-flex flex-column gap-3">
          <h1 class="display" data-sb-field-path="title">{{ property.data.title }}</h1>
          <h3 class="text-accent" data-sb-field-path="price">${{ property.data.price }}</h3>
          <div class="d-flex align-items-center">
            <i class="rtmicon rtmicon-location me-2"></i>
            <span data-sb-field-path="address">{{ property.data.address }}</span>
          </div>
          <p data-sb-field-path="description">{{ property.data.description }}</p>
          <div class="d-flex gap-3">
            <span class="badge bg-light text-dark" data-sb-field-path="bedrooms">{{ property.data.bedrooms }} bedrooms</span>
            <span class="badge bg-light text-dark" data-sb-field-path="bathrooms">{{ property.data.bathrooms }} bathrooms</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

