---
pagination:
  data: collections.properties
  size: 1
  alias: property
permalink: "/properties/{{ property.slug }}/"
layout: layouts/property.njk
eleventyComputed:
  title: "{{ property.title }}"
---


